<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/logo.svg') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <style>
            html {
                background-color: #f0e5fa;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<header>
    <div data-turbo="false">
        <a href="/"><img id="logo" src="{{ asset('images/logo.svg') }}"></a>
        <div>
            <a href="/" class="{{ app.request.pathInfo == '/' ? 'active-link' : '' }}">Accueil</a>
            <a href="/blog" class="{{ app.request.pathInfo starts with '/blog' ? 'active-link' : '' }}">Blog</a>
            <a href="/reservation" class="{{ app.request.pathInfo == '/reservation' ? 'active-link' : '' }}">Réservation</a>
        </div>
    </div>
</header>
<body>
{% block body %}{% endblock %}
</body>
<footer>
    <div>
        <div>
            <img class="picto" src="{{ asset('images/ytb.svg') }}">
            <a href="#">naislpro_K</a>
        </div>
        <div>
            <img class="picto" src="{{ asset('images/fb.svg') }}">
            <a href="#">naislpro_K</a>
        </div>
        <div>
            <img class="picto" src="{{ asset('images/wa.svg') }}">
            <a href="#">naislpro_K</a>
        </div>
    </div>
    <div>
        <a href="mailto:naislpro@gmail.com">naislpro@gmail.com</a>
        <a href="tel:+3376869061">+ 33 76 86 90 61</a>
    </div>
    <div href="/"><img id="logo" src="{{ asset('images/logo.svg') }}"></div>
</footer>
</html>
